<!DOCTYPE html>
<html>
<head>
  <title>
    Flagster <%= params[:controller].capitalize %>
  </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrap">
    <h1>
      <%= link_to 'Flagster', {action: 'index'} %>
    </h1>
    <%= yield %>
</div>

</body>
</html>
